/* base16 bright colors */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; background-color: #181818; color: #cccccc; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; }
td.sourceCode { padding-left: 5px; }
pre, code { color: #cccccc; background-color: #181818; }

code > span.kw { color: #d381c3; }  /* Keyword */
code > span.dt { color: #dfdfbf; }  /* DataType */
code > span.dv { color: #fc6d24; }  /* DecVal */
code > span.bn { color: #fc6d24; }  /* BaseN */
code > span.fl { color: #fc6d24; }  /* Float */
code > span.ch { color: #a1c659; }  /* Char */
code > span.st { color: #a1c659; }  /* String */
code > span.co { color: #b0b0b0; }  /* Comment */
code > span.ot { color: #f7ca88; }  /* Other */
code > span.al { color: #ab4642; }  /* Alert */
code > span.fu { color: #6fb3d2; }  /* Function */
code > span.er { color: #a16946; }  /* Error */

code.diff > span.st { color: #ab4642;} /* Diff before */
code.diff > span.ot { color: #a1b56c;} /* Diff after */
